.bg{
    background-color: red;
}
.box{
    position: relative;
    top: 70px;
    left: 30%;
    background-color: pink;
    border: 1px solid black;
    height: 500px;
    width: 400px;
}
img{
    height: 500px;
    width: 400px;
}